body {
    background-color: #282d32;
    color: #f0f9ff;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #424549 10px), repeating-linear-gradient(#444cf755, #444cf7);
    background-size: 2000px 1000px;
    font: bold 20px 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    border: 3px solid #36393e;
    padding: 10px;
    border-right-width: 2px;
    border-radius: 12px;
    width: 200;
    display: inline
    
}

h2{
    color: #f0f9ff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}